 <div id="update-profile" class="collapse mb-4">
    <h2>Update Profile</h2>
    <form id="updateProfileForm" method="POST" action="/auth/update-profile">
        <div class="mb-3">
            <label for="first_name" class="form-label">First Name</label>
            <input type="text" class="form-control" id="first_name" name="first_name" value="{{patient.first_name}}" required>
        </div>
        <div class="mb-3">
            <label for="last_name" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="last_name" name="last_name" value="{{patient.last_name}}" required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" value="{{patient.email}}" required>
        </div>
        <div class="mb-3">
            <label for="phone" class="form-label">Phone Number</label>
            <input type="text" class="form-control" id="phone" name="phone" value="{{patient.phone}}" required>
        </div>
        <button type="submit" class="btn btn-primary">Update Profile</button>
    </form>
    </div>